<p-table [value]="expenseList()" dataKey="id" #dt editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <button dataid="add-expense-button" (click)="addExpense()">Add Expense</button>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Store Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="expense">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-autoComplete [(ngModel)]="expense.name" [suggestions]="suggestedExpenses" field="name"
                        (completeMethod)="searchLibrary($event)" (onSelect)="selectLibExpense($event, ri)" styleClass="test">
                            <ng-template let-item pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{item.name + ' ('+ item.store + ')'}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                        <!-- <input pInputText type="text" [(ngModel)]="expense.name"  required> -->
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{expense.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="expenseCategories()" appendTo="body" 
                        [(ngModel)]="expense.categoryId" [style]="{'width':'100%'}" optionLabel="name" 
                        optionValue="id" placeholder="select category"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{getCategoryName(expense)}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="expense.store">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{expense.store}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="expense.quantity" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{expense.quantity}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [(ngModel)]="expense.price" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{expense.price | currency: 'GBP'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(expense)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave($event, expense)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(expense, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-trash" (click)="onRowDelete(expense)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No expenses found during this time period.</td>
        </tr>
    </ng-template>
</p-table>
<p-messages></p-messages>